.credentials {
    flex: 1;
    border-radius: 4px;
    border: 2px solid var(--gold-400);

    .body {

        .row {
            background-color: var(--grey-400);
            cursor: pointer;

            &:nth-child(odd) {
                background-color: rgba(89, 87, 87, 0.5019607843);

            }

            &:hover {
                background-color: var(--grey-300);
            }

            .key,
            .value {
                padding: 8px;
            }
        }
    }
}